<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>900</string>
	<string>englishdaily</string>
	<string>englishnews</string>
	<string>englishstory</string>
	<string>6minuteenglish</string>
	<string>voaspecial</string>
	<string>voastandard</string>
</array>
</plist>
